<div
    class="userpic {{className}} {{#if withChange}}userpic--with-change{{/if}}"
    style="width: {{size}}px;height: {{size}}px;"
>
  {{#if withChange}}
    <label class="userpic__label" style="width: {{size}}px;height: {{size}}px;">
      {{{ fileInput }}}
      {{#if src}}
        <img src="{{src}}"
             alt="{{alt}}"
             class="userpic__image"
             width="{{size}}"
             height="{{size}}">
      {{else}}
        <div class="userpic__placeholder"></div>
      {{/if}}
    </label>
  {{else}}
    {{#if src}}
      <img src="{{src}}"
           alt="{{alt}}"
           class="userpic__image"
           width="{{size}}"
           height="{{size}}">
    {{else}}
      <div class="userpic__placeholder"></div>
    {{/if}}
  {{/if}}
</div>
