<div class="chat-list {{className}}">
  <header class="chat-list__header">
    {{{newChatButton}}}
    {{{profileButton}}}
  </header>
  <ul class="chat-list__list">
    {{{list}}}
  </ul>
  {{{newChatModal}}}
</div>
