<div class="page profile-page">
  <main>
    <div class="container profile-page__container">
      {{{userpic}}}
      {{{form}}}
      <ul class="profile-page__links">
        <li>{{{editProfileLink}}}</li>
        <li>{{{changePasswordLink}}}</li>
        <li>{{{quitLink}}}</li>
      </ul>
      {{{backButton}}}
    </div>
  </main>
  {{{footer}}}
</div>
